{% load static %}

<!DOCTYPE html>
<html lang="en">
  
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block titulo %} {% endblock %}</title>
        <link href="{% static 'https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css' %}" rel="stylesheet" />
       <!--  css -->
        <link href="{% static 'css/menu_desplegable.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />  
        <link href="{% static 'css/menu.css' %}" rel="stylesheet" />
        
        <!-- Font font-awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        
       
        <script src="{% static 'https://use.fontawesome.com/releases/v6.3.0/js/all.js' %}" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="index.html">Inicio</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>

                        <li><a class="dropdown-item" href="/logout">Logout</a></li>

                        <li><a class="dropdown-item" href="{% url 'logout' %}">Salir</a></li>


                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
             <li><a class="dropdown-item" href="{% url 'logout' %}">Salir</a></li>


                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">


                 <!-- menu despleglable  1  -->
                     <div class="menu smenu">
                        <button class="smenuButton"  id="menuButton">Configuración</button>
                        <ul class="ssubmenu" id="submenu">
                          <li><a href="pagina1.html">Contraseña</a></li>
                          <li><a href="pagina2.html">Preguntas de seguridad</a></li>
                        </ul>
                      </div>
                      
                      
                       <!-- fin de menu despleglable  2  -->   
                          
                 <!-- menu despleglable    -->
                     <div class="menu2 smenu">
                        <button class="smenuButton"  id="menuButton2">Datos Geo</button>
                        <ul class="ssubmenu" id="submenu2">
                          <li><a href="pagina1.html">Temperatura Max</a></li>
                          <li><a href="pagina2.html">Temperatura  Min</a></li>
                        </ul>
                      </div>
                      
                      
                       <!-- fin de menu despleglable    -->  

                         <!-- menu despleglable  3  -->
                     <div class="menu3 smenu">
                        <button class="smenuButton" id="menuButton3">Perfil</button>
                        <ul class="ssubmenu" id="submenu3">
                          <li><a href="pagina1.html">Usuario</a></li>
                          <li><a href="pagina2.html">Foto de perfil</a></li>
                        </ul>
                      </div>
                      
                      
                       <!-- fin de menu despleglable    -->  
                          
                          

                          <div class="nav">                           
                            <!-- menu espacio   -->  
                                <div >

                          </div>
                                        <!-- fin espacio  -->

                                
                          
                          
                                


                       
                         
                          
                          


                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">SGH</div>
                        
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>

                    
{% block contenido %}  

{% endblock %}
                    
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; SGH</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/menu_desplegable.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>