{% extends "base-menu.html" %}

{% block titulo %} SGH-INICIO {% endblock %}

{% block contenido %} 
<!-- aqui comienza el area de trabajo -->

<div class="container-fluid px-4">
  <h1 class="mt-4">SGH Cocorote</h1>
  <ol class="breadcrumb mb-4">
  </ol>
   <section class="pt-4">
<div class="container px-lg-5">
<!-- Page Features-->

<div class="row">
<div class="col-sm-4">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Crear Capas</h5>
    <p class="card-text">Aqui Puedes Crear Tu Capa</p>
    <a href="{% url 'capas' %}" class="btn btn-primary">Crear Capas</a>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Poblacion</h5>
    <p class="card-text">Aqui Puedes Observar Las Poblaciones de Cocorote</p>
    <a href="{% url 'poblacion' %}" class="btn btn-primary">Ver Poblaciones</a>
  </div>
</div>
</div>
<div class="col-sm-4">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Reportes</h5>
    <p class="card-text">Aqui Puedes Ver los Reportes</p>
    <a href="{% url 'report' %}" class="btn btn-primary">Ver Los Reportes</a>
  </div>
</div>
</div>
</div>


<div id="" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
      <h3 class="text-center mb-0"></h3>
      <button type="button" class="close float-right" aria-label="Close" data-dismiss="modal">
        <span aria-hidden="true">&#xD7;</span>
      </button>
  </div>
  <div class="modal-body p-0 text-center bg-alt">
      <img src="//placehold.it/1200x700/222?text=..." id="galleryImage" class="loaded-image mx-auto img-fluid">
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button>
  </div>
</div>
</div>
</div>






<!-- aqui termina el area de trabajo -->
{% endblock %}