{% extends "base-menu.html" %}

{% block titulo %} Perfil del Usuario {% endblock %}

{% block contenido %} 
<!-- aqui comienza el area de trabajo -->

<div class="container-fluid px-4">
    <h1 class="mt-4">Perfil del Usuario</h1>
    <a href="{%  url 'home' %}" class=" btn btn-dark">Atras</a>
    <ol class="breadcrumb mb-4">
    </ol>
     <section class="pt-4">


        <div class="container-fluid">
            <form action="" class="form-neon" autocomplete="off">
                <fieldset>
                    <legend><i class="far fa-address-card"></i> &nbsp; Información personal</legend>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="usuario_dni" class="bmd-label-floating">Cedula</label>
                                    <input type="text" pattern="[0-9-]{1,20}" class="form-control" name="usuario_dni" id="usuario_dni" maxlength="20">
                                </div>
                            </div>
                            
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="usuario_nombre" class="bmd-label-floating">Nombres</label>
                                    <input type="text" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" class="form-control" name="usuario_nombre" id="usuario_nombre" maxlength="35">
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    <label for="usuario_apellido" class="bmd-label-floating">Apellidos</label>
                                    <input type="text" pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" class="form-control" name="usuario_apellido" id="usuario_apellido" maxlength="35">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="usuario_telefono" class="bmd-label-floating">Teléfono</label>
                                    <input type="text" pattern="[0-9()+]{1,20}" class="form-control" name="usuario_telefono" id="usuario_telefono" maxlength="20">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="usuario_direccion" class="bmd-label-floating">Dirección</label>
                                    <input type="text" pattern="[a-zA-Z0-99áéíóúÁÉÍÓÚñÑ()# ]{1,190}" class="form-control" name="usuario_direccion" id="usuario_direccion" maxlength="190">
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <br><br><br>
                <fieldset>
                    <legend><i class="fas fa-user-lock"></i> &nbsp; Informacion del Usuario</legend>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="usuario_usuario" class="bmd-label-floating">Nombre de usuario</label>
                                    <input type="text" pattern="[a-zA-Z0-9]{1,35}" class="form-control" name="usuario_usuario" id="usuario_usuario" maxlength="35">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="usuario_email" class="bmd-label-floating">Email</label>
                                    <input type="email" class="form-control" name="usuario_email" id="usuario_email" maxlength="70">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="usuario_clave_1" class="bmd-label-floating">Contraseña</label>
                                    <input type="password" class="form-control" name="usuario_clave_1" id="usuario_clave_1" maxlength="200">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group">
                                    <label for="usuario_clave_2" class="bmd-label-floating">Repetir contraseña</label>
                                    <input type="password" class="form-control" name="usuario_clave_2" id="usuario_clave_2" maxlength="200">
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <button type="submit" class="btn btn-raised btn-info btn-sm"><i class="far fa-save"></i> &nbsp; GUARDAR</button>



 <!-- fin de area de trabajo -->
{% endblock %}