.ssubmenu li {
  list-style-type: none;
}

.smenu {
  
  font-size: 18px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
  padding: 10px 40%;
  background-color: #212529;
  color: #FFF;
  
}